<!DOCTYPE html>
<html>
  <head>
    <title>Archieve Note</title>
    <%= stylesheet_link_tag 'styles' %>
  </head>

  <body>
    <h1 style="color:red">Archived Notes</h1>
    <%= link_to 'Back to Notes', notes_path %><br><br>

    <div class="note-container">
      <% @archived_notes.each do |note| %>
        <div class="note-card">
          <h2><%= note.title %></h2>
          <p><%= note.content %></p><br>
          <%= link_to 'Unarchive', unarchive_note_path(note), method: :patch %>
        </div>
      <% end %>
    </div>
  </body>
</html>
