<h1>Edit Note</h1>

<%= form_with(model: @note, url: note_path(@note), method: :patch) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit 'Update Note' %>
  </div>
<% end %>

<%= link_to 'Cancel', note_path(@note) %>
