<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <%= stylesheet_link_tag 'styles' %>
  </head>

  <body>
    <div class="navbar">
      <a href="<%= new_note_path %>">Create Note</a>
      <a href="<%= archive_index_notes_path %>">Archived Notes</a>
      <a href="<%= trash_notes_path %>">Trash Notes</a>
      <a>
        <div style="position: absolute; top: 5; right: 15px; color:white;">
          <% if user_signed_in? && current_user.present? %>
            <span>Welcome, <%= current_user.name %></span>
        </div>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </a>
    </div><br>

    <div class="note-container">
      <% @notes.each do |note| %>
          <div class="note-card">
            <h2><%= note.title %></h2>
            <p><%= note.content %></p><br><br>
            <div>
              <%= link_to 'Edit', edit_note_path(note) %><br>
              <%= link_to 'Destroy', note,
                  method: :delete,
                  data: { confirm: 'Are you sure, Note moved to trash?' } %><br>
              <%= link_to 'Archive', archive_note_path(note), method: :patch %><br>
              <td>
                <% if note.pinned %>
                  <%= link_to 'Unpin', unpin_note_path(note), method: :post %>
                <% else %>
                  <%= link_to 'Pin', pin_note_path(note), method: :post %>
                <% end %>
              </td>
            </div>
          </div>
      <% end %>
    </div><br>

    <%== pagy_nav(@pagy) %>
  </body>
</html>
